# PySpark
pyspark

# ML
datasets
pandas

# Parquet
fastparquet    # used by the download wikipedia script to save the dataset
parquet-tools  # this is used for CLI reading/inspection of parquet files

# Config Reading
pyyaml
pytest